<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: space-evenly;">
        <div class="register" >
            <h1>Register</h1>
            <form action="/user/register" method="post" style="display: flex; flex-direction: column;">
                <input type="text"  name='fullname' placeholder="name">
                <input type="email" name='email' placeholder="email">
                <input type="text" name='password' placeholder="password">
                <button type="submit">Register</button>  
            </form>
        </div>
        <div class="login" style="display: flex; flex-direction: column;">
            <h1>Login</h1>
            <form action="/user/login" method="post" style="display: flex; flex-direction: column;">
                <input type="email" name="email" placeholder="email">
                <input type="text" name="password" placeholder="password">
                <button type="submit" >Login</button>
            </form>
        </div>
    </div>
</body>

</html>